In [1]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [25]:
driver = webdriver.Chrome(r'D:/Stock_Pjt/chromedriver')

# 해당 링크로 접속
driver.get('https://kr.investing.com/economic-calendar/unemployment-rate-298')

In [26]:
# 밑에 데이터 자동 누르기
for i in range(200):
    driver.find_element_by_xpath('//*[@id="showMoreHistory298"]/a').click()

In [27]:
# 현재 창에서 스크린샷 찍고 저장
text = driver.find_element_by_xpath("//*[@id='eventHistoryTable298']")

In [ ]:
# text 확인
# text.text

In [28]:
# text 나누기
split_text = text.text.split("\n")
# split_text

In [29]:
df = pd.DataFrame()
df = df.reindex(columns = ['Date', 'Value'])

In [30]:
framelist = []

for idx, text in enumerate(split_text):
    if idx == 0:
        pass
    else:
        temp_list = []
        split = text.split()
        result = ''
        for idx, t in enumerate(split):
            if idx <= 3:
                result += t
            elif idx > 3:
                if not(result in temp_list):
                    temp_list.append(result)
                temp_list.append(t)
                
        add_data = {'Date':temp_list[0],'Value':temp_list[2]}
        
        df = df.append(add_data, ignore_index=True)
df

                 Date  Value
0     2023년03월31일(2월)   2.6%
1     2023년03월03일(1월)   2.4%
2    2023년01월31일(12월)   2.5%
3    2022년12월27일(11월)   2.5%
4    2022년11월29일(10월)   2.6%
..                ...    ...
277   2000년02월01일(1월)  4.70%
278  2000년01월01일(12월)  4.70%
279  1999년12월01일(11월)  4.60%
280  1999년11월01일(10월)  4.60%
281   1999년10월01일(9월)  4.60%

[282 rows x 2 columns]

In [31]:
for i in range(len(df)):
    df.Date[i] = df.Date[i][:7]
    df.Date[i] = df.Date[i].replace('년', '-')
    
    # 해당 월 다음달에 지표가 발표되므로 월에 해당하는 값을 대입하기 위해 -1
    arr_month = int(df.Date[i][-2:])-1  
    if arr_month < 10:
        arr_month = '0' + str(arr_month)
        if arr_month == '00':  # 00으로 책정된 값은 12월로 설정해준 후 년도에서 -1
            arr_month = '12'
            df.Date[i] = str(int(df.Date[i][:4])-1) + '-' + arr_month 
        else:
            df.Date[i] = df.Date[i][:5] + str(arr_month)
    else:
        df.Date[i] = df.Date[i][:5] + str(arr_month)

In [32]:
df

        Date  Value
0    2023-02   2.6%
1    2023-02   2.4%
2    2022-12   2.5%
3    2022-11   2.5%
4    2022-10   2.6%
..       ...    ...
277  2000-01  4.70%
278  1999-12  4.70%
279  1999-11  4.60%
280  1999-10  4.60%
281  1999-09  4.60%

[282 rows x 2 columns]

In [64]:
# df.tail(30)

        Date   Value
414  1988-09  26.40%
415  1988-08  23.60%
416  1988-07  19.20%
417  1988-06  16.30%
418  1988-05  14.20%
419  1988-04  12.20%
420  1988-03  11.30%
421  1988-02  10.40%
422  1988-01   9.30%
423  1987-12   8.90%
424  1987-11   8.30%
425  1987-10   7.50%
426  1987-09   7.70%
427  1987-08   8.20%
428  1987-07   7.80%
429  1987-06   7.80%
430  1987-05   7.60%
431  1987-04   6.70%
432  1987-03   5.80%
433  1987-02   5.40%
434  1987-01   5.10%
435  1986-12   7.10%
436  1986-11   7.10%
437  1986-10   7.10%
438  1986-09   7.10%
439  1986-08   7.10%
440  1986-07   7.10%
441  1986-06   7.10%
442  1986-05   7.10%
443  1986-04   7.10%

In [33]:
df.to_csv('japan_unemployment_rate(1999.09-2023.02).csv')

In [34]:
driver.quit()