In [1]:
import pandas as pd
import random
import os
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# from sklearn.tree import DecisionTreeClassifier

In [ ]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed 고정

In [ ]:
# train = pd.read_csv('./train.csv')
# test = pd.read_csv('./test.csv')

### Load Data

In [164]:
# main data

kospi = pd.read_csv('./data/main_index/kospi(1990.01.02-2023.03.15).csv', sep='|')
kosdaq = pd.read_csv('./data/main_index/kosdaq(2001.01.02-2023.03.15).csv', sep='|')

dow = pd.read_csv('./data/main_index/dow(2001.01.02-2023.03.15).csv', sep='|')
sp500 = pd.read_csv('./data/main_index/sp500(2001.01.02-2023.03.15).csv', sep='|')
russel2000 = pd.read_csv('./data/main_index/russel2000(2001.01.03-2023.03.15).csv', sep='|')
nasdaq = pd.read_csv('./data/main_index/nasdaq(2001.01.02-2023.03.15).csv', sep='|')
ftse = pd.read_csv('./data/main_index/FTSE(2004.03.05-2023.03.15).csv', sep='|')

nikkie = pd.read_csv('./data/main_index/nikkie(2001.01.05-2023.03.15).csv', sep='|')

ssec = pd.read_csv('./data/main_index/SSEC(1990.12.20-2023.03.15).csv', sep='|')
szse = pd.read_csv('./data/main_index/SZSE(1995.1.24-2023.03.15).csv', sep='|')
hsi = pd.read_csv('./data/main_index/hsi(2000.12.05-2023.03.15).csv', sep='|')

In [165]:
# bond_yield data

chi_bond_yield_1 = pd.read_csv('./data/bond_yield/china_1year_bond_yield(2002.06.04-2023.03.15).csv', sep='|')
chi_bond_yield_3 = pd.read_csv('./data/bond_yield/china_3year_bond_yield(2000.09.22-2023.03.15).csv', sep='|')
chi_bond_yield_5 = pd.read_csv('./data/bond_yield/china_5year_bond_yield(2001.03.14-2023.03.15).csv', sep='|')
chi_bond_yield_10 = pd.read_csv('./data/bond_yield/china_10year_bond_yield(2002.06.06-2023.03.15).csv', sep='|')

jap_bond_yield_1 = pd.read_csv('./data/bond_yield/japan_1year_bond_yield(2006.07.19-2023.03.15).csv', sep='|')
jap_bond_yield_3 = pd.read_csv('./data/bond_yield/japan_3year_bond_yield(2006.07.19-2023.03.15).csv', sep='|')
jap_bond_yield_5 = pd.read_csv('./data/bond_yield/japan_5year_bond_yield(2006.07.27-2023.03.15).csv', sep='|')
jap_bond_yield_10 = pd.read_csv('./data/bond_yield/japan_10year_bond_yield(2006.07.19-2023.03.15).csv', sep='|')

kor_bond_yield_1 = pd.read_csv('./data/bond_yield/korea_1year_bond_yield(1995.05.03-2023.03.15).csv', sep='|')
kor_bond_yield_3 = pd.read_csv('./data/bond_yield/korea_3year_bond_yield(1995.05.03-2023.03.15).csv', sep='|')
kor_bond_yield_5 = pd.read_csv('./data/bond_yield/korea_5year_bond_yield(1995.05.03-2023.03.15).csv', sep='|')
kor_bond_yield_10 = pd.read_csv('./data/bond_yield/korea_10year_bond_yield(2000.10.26-2023.03.15).csv', sep='|')

us_bond_yield_1 = pd.read_csv('./data/bond_yield/us_1year_bond_yield(2008.06.05-2023.03.15).csv', sep='|')
us_bond_yield_3 = pd.read_csv('./data/bond_yield/us_3year_bond_yield(1990.01.08-2023.03.15).csv', sep='|')
us_bond_yield_5 = pd.read_csv('./data/bond_yield/us_5year_bond_yield(1990.01.08-2023.03.15).csv', sep='|')
us_bond_yield_10 = pd.read_csv('./data/bond_yield/us_10year_bond_yield(1990.01.08-2023.03.15).csv', sep='|')

In [166]:
# cpi data

chi_cpi_m = pd.read_csv('./data/cpi/china_cpi_compare_last_month(1996.01-2023.02).csv', sep='|')
chi_cpi_y = pd.read_csv('./data/cpi/china_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')

jap_c_cpi_y = pd.read_csv('./data/cpi/japan_core_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')
jap_cpi_y = pd.read_csv('./data/cpi/japan_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')

kor_cpi_m = pd.read_csv('./data/cpi/korea_cpi_compare_last_month(1990.01-2023.02).csv', sep='|')
kor_cpi_y = pd.read_csv('./data/cpi/korea_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')

us_c_cpi_m = pd.read_csv('./data/cpi/us_core_cpi_compare_last_month(1990.01-2023.02).csv', sep='|')
us_c_cpi_y = pd.read_csv('./data/cpi/us_core_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')
us_cpi_m = pd.read_csv('./data/cpi/us_cpi_compare_last_month(1990.01-2023.02).csv', sep='|')
us_cpi_y = pd.read_csv('./data/cpi/us_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')

In [167]:
# oil + dollar + gold + unemployment + usd_krw + vix

brent = pd.read_csv('./data/oil/brent(1990.01.02-2023.03.15).csv', sep='|')
dubai = pd.read_csv('./data/oil/dubai(2014.04.28-2023.03.15).csv', sep='|')
wti = pd.read_csv('./data/oil/wti(1990.01.02-2023.03.15).csv', sep='|')

bitcoin = pd.read_csv('./data/other/bitcoin(2010.07.18-2023.03.15).csv', sep='|')

dollar = pd.read_csv('./data/other/dollar_index(1990.01.01-2023.03.15).csv', sep='|')
gold = pd.read_csv('./data/other/gold_index(1990.01.02-2023.03.15).csv', sep='|')

kor_unem = pd.read_csv('./data/other/korea_unemployment_rate(2001.04-2023.02).csv', sep='|')
# ja_unem = pd.read_csv('./data/other/japan_unemployment_rate(1999.09-2023.02)_날짜수정.csv', sep='|')
us_unem = pd.read_csv('./data/other/us_unemployment_rate(1994.10-2023.02).csv', sep='|')
kor_interest = pd.read_csv('./data/other/korea_interest_rate(1999.05-2023.02).csv', sep='|')

usd_krw = pd.read_csv('./data/other/USD_KRW(2009.03.25-2023.03.15).csv', sep='|')

vix = pd.read_csv('./data/other/vix(1990.01.03-2023.03.15).csv', sep='|')

### 컬럼명 변경

In [161]:
# def col_rename(df):
#     name = df
#     df.rename(columns = lambda x : f'{name}_' + x if x != 'Date' else x, inplace = True)

In [168]:
kospi.rename(columns = lambda x : 'kospi_' + x if x != 'Date' else x, inplace = True)
kosdaq.rename(columns = lambda x : 'kosdaq_' + x if x != 'Date' else x, inplace = True)
dow.rename(columns = lambda x : 'dow_' + x if x != 'Date' else x, inplace = True)
sp500.rename(columns = lambda x : 'sp500_' + x if x != 'Date' else x, inplace = True)
russel2000.rename(columns = lambda x : 'russel2000_' + x if x != 'Date' else x, inplace = True)
nasdaq.rename(columns = lambda x : 'nasdaq_' + x if x != 'Date' else x, inplace = True)
ftse.rename(columns = lambda x : 'ftse_' + x if x != 'Date' else x, inplace = True)
nikkie.rename(columns = lambda x : 'nikkie_' + x if x != 'Date' else x, inplace = True)
ssec.rename(columns = lambda x : 'ssec_' + x if x != 'Date' else x, inplace = True)
szse.rename(columns = lambda x : 'szse_' + x if x != 'Date' else x, inplace = True)
hsi.rename(columns = lambda x : 'hsi_' + x if x != 'Date' else x, inplace = True)

chi_bond_yield_1.rename(columns = lambda x : 'chi_bond_yield_1_' + x if x != 'Date' else x, inplace = True)
chi_bond_yield_3.rename(columns = lambda x : 'chi_bond_yield_3_' + x if x != 'Date' else x, inplace = True)
chi_bond_yield_5.rename(columns = lambda x : 'chi_bond_yield_5_' + x if x != 'Date' else x, inplace = True)
chi_bond_yield_10.rename(columns = lambda x : 'chi_bond_yield_10_' + x if x != 'Date' else x, inplace = True)

jap_bond_yield_1.rename(columns = lambda x : 'jap_bond_yield_1_' + x if x != 'Date' else x, inplace = True)
jap_bond_yield_3.rename(columns = lambda x : 'jap_bond_yield_3_' + x if x != 'Date' else x, inplace = True)
jap_bond_yield_5.rename(columns = lambda x : 'jap_bond_yield_5_' + x if x != 'Date' else x, inplace = True)
jap_bond_yield_10.rename(columns = lambda x : 'jap_bond_yield_10_' + x if x != 'Date' else x, inplace = True)

kor_bond_yield_1.rename(columns = lambda x : 'kor_bond_yield_1_' + x if x != 'Date' else x, inplace = True)
kor_bond_yield_3.rename(columns = lambda x : 'kor_bond_yield_3_' + x if x != 'Date' else x, inplace = True)
kor_bond_yield_5.rename(columns = lambda x : 'kor_bond_yield_5_' + x if x != 'Date' else x, inplace = True)
kor_bond_yield_10.rename(columns = lambda x : 'kor_bond_yield_10_' + x if x != 'Date' else x, inplace = True)

us_bond_yield_1.rename(columns = lambda x : 'us_bond_yield_1_' + x if x != 'Date' else x, inplace = True)
us_bond_yield_3.rename(columns = lambda x : 'us_bond_yield_3_' + x if x != 'Date' else x, inplace = True)
us_bond_yield_5.rename(columns = lambda x : 'us_bond_yield_5_' + x if x != 'Date' else x, inplace = True)
us_bond_yield_10.rename(columns = lambda x : 'us_bond_yield_10_' + x if x != 'Date' else x, inplace = True)

chi_cpi_m.rename(columns = lambda x : 'chi_cpi_m_' + x if x != 'Date' else x, inplace = True)
chi_cpi_y.rename(columns = lambda x : 'chi_cpi_y_' + x if x != 'Date' else x, inplace = True)
jap_c_cpi_y.rename(columns = lambda x : 'jap_c_cpi_y_' + x if x != 'Date' else x, inplace = True)
jap_cpi_y.rename(columns = lambda x : 'jap_cpi_y_' + x if x != 'Date' else x, inplace = True)
kor_cpi_m.rename(columns = lambda x : 'kor_cpi_m_' + x if x != 'Date' else x, inplace = True)
kor_cpi_y.rename(columns = lambda x : 'kor_cpi_y_' + x if x != 'Date' else x, inplace = True)
us_c_cpi_m.rename(columns = lambda x : 'us_c_cpi_m_' + x if x != 'Date' else x, inplace = True)
us_c_cpi_y.rename(columns = lambda x : 'us_c_cpi_y_' + x if x != 'Date' else x, inplace = True)
us_cpi_m.rename(columns = lambda x : 'us_cpi_m_' + x if x != 'Date' else x, inplace = True)
us_cpi_y.rename(columns = lambda x : 'us_cpi_y_' + x if x != 'Date' else x, inplace = True)

brent.rename(columns = lambda x : 'brent_' + x if x != 'Date' else x, inplace = True)
dubai.rename(columns = lambda x : 'dubai_' + x if x != 'Date' else x, inplace = True)
wti.rename(columns = lambda x : 'wti_' + x if x != 'Date' else x, inplace = True)

bitcoin.rename(columns = lambda x : 'bitcoin_' + x if x != 'Date' else x, inplace = True)
dollar.rename(columns = lambda x : 'dollar_' + x if x != 'Date' else x, inplace = True)
gold.rename(columns = lambda x : 'gold_' + x if x != 'Date' else x, inplace = True)
kor_unem.rename(columns = lambda x : 'kor_unem_' + x if x != 'Date' else x, inplace = True)
us_unem.rename(columns = lambda x : 'us_unem_' + x if x != 'Date' else x, inplace = True)
kor_interest.rename(columns = lambda x : 'kor_interest_' + x if x != 'Date' else x, inplace = True)
usd_krw.rename(columns = lambda x : 'usd_krw_' + x if x != 'Date' else x, inplace = True)
vix.rename(columns = lambda x : 'vix_' + x if x != 'Date' else x, inplace = True)

In [170]:
kospi

,Date,kospi_Close,kospi_Open,kospi_High,kospi_Low,kospi_Volume,kospi_Change,kospi_Value
0,1990-01-03,908.59,908.59,908.59,908.59,6.74M,-0.12%,0
1,1990-01-04,928.82,928.82,928.82,928.82,18.09M,2.23%,1
2,1990-01-05,915.11,915.11,915.11,915.11,22.18M,-1.48%,0
3,1990-01-06,912.86,912.86,912.86,912.86,12.52M,-0.25%,0
4,1990-01-08,919.46,919.46,919.46,919.46,17.58M,0.72%,1
...,...,...,...,...,...,...,...,...
8612,2023-03-09,"2,419.09","2,440.79","2,444.20","2,416.25",476.38M,-0.53%,0
8613,2023-03-10,"2,394.59","2,389.82","2,400.87","2,383.19",413.41M,-1.01%,0
8614,2023-03-13,"2,410.60","2,400.45","2,413.24","2,369.79",380.74M,0.67%,1
8615,2023-03-14,"2,348.97","2,390.36","2,390.78","2,348.19",485.08M,-2.56%,0
8616,2023-03-15,"2,379.72","2,380.09","2,395.36","2,370.77",443.75M,1.31%,1

## Modeling

In [ ]:
model = DecisionTreeClassifier(random_state = 42)

In [ ]:
model.fit(x_train, y_train)