In [1]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r'G:\내 드라이브\STOCK_PJT\data\chromedriver.exe')

# 해당 링크로 접속
driver.get('https://kr.investing.com/economic-calendar/unemployment-rate-473')

In [8]:
# 밑에 데이터 자동 누르기
for i in range(300):
    driver.find_element_by_xpath('//*[@id="showMoreHistory473"]/a').click()

ElementClickInterceptedException: Message: element click intercepted: Element <a href="javascript:void(0);">...</a> is not clickable at point (32, 6). Other element would receive the click: <img src="https://i-invdn-com.investing.com/logos/investing-com-logo-2022.png" alt="Investing.com-선두의 금융 포털" width="166" height="38" class="investingLogo">
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0024DCE3+50899]
	(No symbol) [0x001DE111]
	(No symbol) [0x000E5588]
	(No symbol) [0x00115A7A]
	(No symbol) [0x00114336]
	(No symbol) [0x0011267B]
	(No symbol) [0x00111797]
	(No symbol) [0x001094A5]
	(No symbol) [0x0012B8FC]
	(No symbol) [0x00108EC6]
	(No symbol) [0x0012BC54]
	(No symbol) [0x0013E01C]
	(No symbol) [0x0012B6F6]
	(No symbol) [0x00107708]
	(No symbol) [0x0010886D]
	GetHandleVerifier [0x004B3EAE+2566302]
	GetHandleVerifier [0x004E92B1+2784417]
	GetHandleVerifier [0x004E327C+2759788]
	GetHandleVerifier [0x002E5740+672048]
	(No symbol) [0x001E8872]
	(No symbol) [0x001E41C8]
	(No symbol) [0x001E42AB]
	(No symbol) [0x001D71B7]
	BaseThreadInitThunk [0x77050099+25]
	RtlGetAppContainerNamedObjectPath [0x77247B6E+286]
	RtlGetAppContainerNamedObjectPath [0x77247B3E+238]
	(No symbol) [0x00000000]

In [9]:
# 현재 창에서 스크린샷 찍고 저장
text = driver.find_element_by_xpath("//*[@id='eventHistoryTable473']")

In [ ]:
# text 확인
# text.text

In [10]:
# text 나누기

split_text = text.text.split("\n")
# split_text

In [11]:
df = pd.DataFrame()
df = df.reindex(columns = ['Date', 'Value'])

In [ ]:
# split_text = split_text[7:]
# split_text[7:]

In [ ]:
split_text

In [12]:
framelist = []

for idx, text in enumerate(split_text):
    if idx == 0:
        pass
    else:
        temp_list = []
        split = text.split()
        result = ''
        for idx, t in enumerate(split):
            if idx <= 3:
                result += t
            elif idx > 3:
                if not(result in temp_list):
                    temp_list.append(result)
                temp_list.append(t)
                
        add_data = {'Date':temp_list[0],'Value':temp_list[2]}
        
        df = df.append(add_data, ignore_index=True)
df

                 Date  Value
0     2023년04월11일(4월)  3.50%
1     2023년02월23일(2월)  3.50%
2     2023년01월13일(1월)  3.50%
3    2022년11월24일(11월)  3.25%
4    2022년10월12일(10월)  3.00%
..                ...    ...
258   1999년10월01일(9월)  4.75%
259   1999년09월01일(8월)  4.75%
260   1999년08월01일(7월)  4.75%
261   1999년07월01일(6월)  4.75%
262   1999년06월01일(5월)  4.75%

[263 rows x 2 columns]

In [ ]:
df.loc[:50]

In [ ]:
df.Date[0][:7]

In [13]:
for i in range(len(df)):
    df.Date[i] = df.Date[i][:7]
    df.Date[i] = df.Date[i].replace('년', '-')
    
    # 구하고자 하는 월 다음달에 지표가 발표되므로 발표된 월에서 -1
    arr_month = int(df.Date[i][-2:])-1  
    if arr_month < 10:
        arr_month = '0' + str(arr_month)
        if arr_month == '00':  # 00으로 책정된 값은 12월로 설정해준 후 년도에서 -1
            arr_month = '12'
            df.Date[i] = str(int(df.Date[i][:4])-1) + '-' + arr_month 
        else:
            df.Date[i] = df.Date[i][:5] + str(arr_month)
    else:
        df.Date[i] = df.Date[i][:5] + str(arr_month)

In [14]:
df

        Date  Value
0    2023-03  3.50%
1    2023-01  3.50%
2    2022-12  3.50%
3    2022-10  3.25%
4    2022-09  3.00%
..       ...    ...
258  1999-09  4.75%
259  1999-08  4.75%
260  1999-07  4.75%
261  1999-06  4.75%
262  1999-05  4.75%

[263 rows x 2 columns]

In [ ]:
df

In [ ]:
# df.tail(30)

In [15]:
df.to_csv('kor_interest(1999.05-2023.03).csv')

In [16]:
driver.quit()