In [1]:
import pandas as pd
import random
import os
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# from sklearn.tree import DecisionTreeClassifier

In [2]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42) # Seed ê³ ì •

In [ ]:
# train = pd.read_csv('./train.csv')
# test = pd.read_csv('./test.csv')

### Load Data

In [50]:
# main data

kospi = pd.read_csv('./data/main_index/kospi(1990.01.02-2023.03.15).csv', sep='|')
kosdaq = pd.read_csv('./data/main_index/kosdaq(2001.01.02-2023.03.15).csv', sep='|')

dow = pd.read_csv('./data/main_index/dow(2001.01.02-2023.03.15).csv', sep='|')
sp500 = pd.read_csv('./data/main_index/sp500(2001.01.02-2023.03.15).csv', sep='|')
russel2000 = pd.read_csv('./data/main_index/russel2000(2001.01.03-2023.03.15).csv', sep='|')
nasdaq = pd.read_csv('./data/main_index/nasdaq(2001.01.02-2023.03.15).csv', sep='|')
ftse = pd.read_csv('./data/main_index/FTSE(2004.03.05-2023.03.15).csv', sep='|')

nikkie = pd.read_csv('./data/main_index/nikkie(2001.01.05-2023.03.15).csv', sep='|')

ssec = pd.read_csv('./data/main_index/SSEC(1990.12.20-2023.03.15).csv', sep='|')
szse = pd.read_csv('./data/main_index/SZSE(1995.1.24-2023.03.15).csv', sep='|')
hsi = pd.read_csv('./data/main_index/hsi(2000.12.05-2023.03.15).csv', sep='|')

In [80]:
# bond_yield data

chi_bond_yield_1 = pd.read_csv('./data/bond_yield/china_1year_bond_yield(2002.06.04-2023.03.15).csv', sep='|')
chi_bond_yield_3 = pd.read_csv('./data/bond_yield/china_3year_bond_yield(2000.09.22-2023.03.15).csv', sep='|')
chi_bond_yield_5 = pd.read_csv('./data/bond_yield/china_5year_bond_yield(2001.03.14-2023.03.15).csv', sep='\t')
chi_bond_yield_10 = pd.read_csv('./data/bond_yield/china_10year_bond_yield(2002.06.06-2023.03.15).csv', sep='|')

jap_bond_yield_1 = pd.read_csv('./data/bond_yield/japan_1year_bond_yield(2006.07.19-2023.03.15).csv', sep='|')
jap_bond_yield_3 = pd.read_csv('./data/bond_yield/japan_3year_bond_yield(2006.07.19-2023.03.15).csv', sep='\t')
jap_bond_yield_5 = pd.read_csv('./data/bond_yield/japan_5year_bond_yield(2006.07.27-2023.03.15).csv', sep='\t')
jap_bond_yield_10 = pd.read_csv('./data/bond_yield/japan_10year_bond_yield(2006.07.19-2023.03.15).csv', sep='\t')

kor_bond_yield_1 = pd.read_csv('./data/bond_yield/korea_1year_bond_yield(1995.05.03-2023.03.15).csv', sep='|')
kor_bond_yield_3 = pd.read_csv('./data/bond_yield/korea_3year_bond_yield(1995.05.03-2023.03.15).csv', sep='|')
kor_bond_yield_5 = pd.read_csv('./data/bond_yield/korea_5year_bond_yield(1995.05.03-2023.03.15).csv', sep='|')
kor_bond_yield_10 = pd.read_csv('./data/bond_yield/korea_10year_bond_yield(2000.10.26-2023.03.15).csv', sep='\t')

us_bond_yield_1 = pd.read_csv('./data/bond_yield/us_1year_bond_yield(2008.06.05-2023.03.15).csv', sep='|')
us_bond_yield_3 = pd.read_csv('./data/bond_yield/us_3year_bond_yield(1990.01.08-2023.03.15).csv', sep='|')
us_bond_yield_5 = pd.read_csv('./data/bond_yield/us_5year_bond_yield(1990.01.08-2023.03.15).csv', sep='|')
us_bond_yield_10 = pd.read_csv('./data/bond_yield/us_10year_bond_yield(1990.01.08-2023.03.15).csv', sep='|')

In [83]:
chi_bond_yield_5

            Date\tClose\tChange
0      2001-03-14\t3.148\t0.06%
1       2001-03-15\t3.15\t0.06%
2      2001-03-19\t3.158\t0.25%
3      2001-03-20\t3.161\t0.09%
4      2001-03-22\t3.165\t0.13%
...                         ...
4548  2023-03-09\t2.705\t-0.15%
4549  2023-03-10\t2.695\t-0.37%
4550   2023-03-13\t2.702\t0.26%
4551   2023-03-14\t2.702\t0.00%
4552  2023-03-15\t2.698\t-0.15%

[4553 rows x 1 columns]

In [52]:
# cpi data

chi_cpi_m = pd.read_csv('./data/cpi/china_cpi_compare_last_month(1996.01-2023.02).csv', sep='|')
chi_cpi_y = pd.read_csv('./data/cpi/china_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')

jap_c_cpi_y = pd.read_csv('./data/cpi/japan_core_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')
jap_cpi_y = pd.read_csv('./data/cpi/japan_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')

kor_cpi_m = pd.read_csv('./data/cpi/korea_cpi_compare_last_month(1990.01-2023.02).csv', sep='|')
kor_cpi_y = pd.read_csv('./data/cpi/korea_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')

us_c_cpi_m = pd.read_csv('./data/cpi/us_core_cpi_compare_last_month(1990.01-2023.02).csv', sep='|')
us_c_cpi_y = pd.read_csv('./data/cpi/us_core_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')
us_cpi_m = pd.read_csv('./data/cpi/us_cpi_compare_last_month(1990.01-2023.02).csv', sep='|')
us_cpi_y = pd.read_csv('./data/cpi/us_cpi_compare_last_year(1990.01-2023.02).csv', sep='|')

In [53]:
# oil + dollar + gold + unemployment + usd_krw + vix

brent = pd.read_csv('./data/oil/brent(1990.01.02-2023.03.15).csv', sep='|')
dubai = pd.read_csv('./data/oil/dubai(2014.04.28-2023.03.15).csv', sep='|')
wti = pd.read_csv('./data/oil/wti(1990.01.02-2023.03.15).csv', sep='|')

bitcoin = pd.read_csv('./data/other/bitcoin(2010.07.18-2023.03.15).csv', sep='|')

dollar = pd.read_csv('./data/other/dollar_index(1990.01.01-2023.03.15).csv', sep='|')
gold = pd.read_csv('./data/other/gold_index(1990.01.02-2023.03.15).csv', sep='\t')

kor_unem = pd.read_csv('./data/other/korea_unemployment_rate(2001.04-2023.02).csv', sep='|')
# ja_unem = pd.read_csv('./data/other/japan_unemployment_rate(1999.09-2023.02)_ë‚ ì§œìˆ˜ì •.csv', sep='|')
us_unem = pd.read_csv('./data/other/us_unemployment_rate(1994.10-2023.02).csv', sep='|')
kor_interest = pd.read_csv('./data/other/korea_interest_rate(1999.05-2023.02).csv', sep='|')

usd_krw = pd.read_csv('./data/other/USD_KRW(2009.03.25-2023.03.15).csv', sep='|')

vix = pd.read_csv('./data/other/vix(1990.01.03-2023.03.15).csv', sep='|')

### Rename Columns

In [ ]:
# def col_rename(df):
#     name = df
#     df.rename(columns = lambda x : f'{name}_' + x if x != 'Date' else x, inplace = True)

In [54]:
kospi.rename(columns = lambda x : 'kospi_' + x if x != 'Date' else x, inplace = True)
kosdaq.rename(columns = lambda x : 'kosdaq_' + x if x != 'Date' else x, inplace = True)
dow.rename(columns = lambda x : 'dow_' + x if x != 'Date' else x, inplace = True)
sp500.rename(columns = lambda x : 'sp500_' + x if x != 'Date' else x, inplace = True)
russel2000.rename(columns = lambda x : 'russel2000_' + x if x != 'Date' else x, inplace = True)
nasdaq.rename(columns = lambda x : 'nasdaq_' + x if x != 'Date' else x, inplace = True)
ftse.rename(columns = lambda x : 'ftse_' + x if x != 'Date' else x, inplace = True)
nikkie.rename(columns = lambda x : 'nikkie_' + x if x != 'Date' else x, inplace = True)
ssec.rename(columns = lambda x : 'ssec_' + x if x != 'Date' else x, inplace = True)
szse.rename(columns = lambda x : 'szse_' + x if x != 'Date' else x, inplace = True)
hsi.rename(columns = lambda x : 'hsi_' + x if x != 'Date' else x, inplace = True)

chi_bond_yield_1.rename(columns = lambda x : 'chi_bond_yield_1_' + x if x != 'Date' else x, inplace = True)
chi_bond_yield_3.rename(columns = lambda x : 'chi_bond_yield_3_' + x if x != 'Date' else x, inplace = True)
chi_bond_yield_5.rename(columns = lambda x : 'chi_bond_yield_5_' + x if x != 'Date' else x, inplace = True)
chi_bond_yield_10.rename(columns = lambda x : 'chi_bond_yield_10_' + x if x != 'Date' else x, inplace = True)

jap_bond_yield_1.rename(columns = lambda x : 'jap_bond_yield_1_' + x if x != 'Date' else x, inplace = True)
jap_bond_yield_3.rename(columns = lambda x : 'jap_bond_yield_3_' + x if x != 'Date' else x, inplace = True)
jap_bond_yield_5.rename(columns = lambda x : 'jap_bond_yield_5_' + x if x != 'Date' else x, inplace = True)
jap_bond_yield_10.rename(columns = lambda x : 'jap_bond_yield_10_' + x if x != 'Date' else x, inplace = True)

kor_bond_yield_1.rename(columns = lambda x : 'kor_bond_yield_1_' + x if x != 'Date' else x, inplace = True)
kor_bond_yield_3.rename(columns = lambda x : 'kor_bond_yield_3_' + x if x != 'Date' else x, inplace = True)
kor_bond_yield_5.rename(columns = lambda x : 'kor_bond_yield_5_' + x if x != 'Date' else x, inplace = True)
kor_bond_yield_10.rename(columns = lambda x : 'kor_bond_yield_10_' + x if x != 'Date' else x, inplace = True)

us_bond_yield_1.rename(columns = lambda x : 'us_bond_yield_1_' + x if x != 'Date' else x, inplace = True)
us_bond_yield_3.rename(columns = lambda x : 'us_bond_yield_3_' + x if x != 'Date' else x, inplace = True)
us_bond_yield_5.rename(columns = lambda x : 'us_bond_yield_5_' + x if x != 'Date' else x, inplace = True)
us_bond_yield_10.rename(columns = lambda x : 'us_bond_yield_10_' + x if x != 'Date' else x, inplace = True)

chi_cpi_m.rename(columns = lambda x : 'chi_cpi_m_' + x if x != 'Date' else x, inplace = True)
chi_cpi_y.rename(columns = lambda x : 'chi_cpi_y_' + x if x != 'Date' else x, inplace = True)
jap_c_cpi_y.rename(columns = lambda x : 'jap_c_cpi_y_' + x if x != 'Date' else x, inplace = True)
jap_cpi_y.rename(columns = lambda x : 'jap_cpi_y_' + x if x != 'Date' else x, inplace = True)
kor_cpi_m.rename(columns = lambda x : 'kor_cpi_m_' + x if x != 'Date' else x, inplace = True)
kor_cpi_y.rename(columns = lambda x : 'kor_cpi_y_' + x if x != 'Date' else x, inplace = True)
us_c_cpi_m.rename(columns = lambda x : 'us_c_cpi_m_' + x if x != 'Date' else x, inplace = True)
us_c_cpi_y.rename(columns = lambda x : 'us_c_cpi_y_' + x if x != 'Date' else x, inplace = True)
us_cpi_m.rename(columns = lambda x : 'us_cpi_m_' + x if x != 'Date' else x, inplace = True)
us_cpi_y.rename(columns = lambda x : 'us_cpi_y_' + x if x != 'Date' else x, inplace = True)

brent.rename(columns = lambda x : 'brent_' + x if x != 'Date' else x, inplace = True)
dubai.rename(columns = lambda x : 'dubai_' + x if x != 'Date' else x, inplace = True)
wti.rename(columns = lambda x : 'wti_' + x if x != 'Date' else x, inplace = True)

bitcoin.rename(columns = lambda x : 'bitcoin_' + x if x != 'Date' else x, inplace = True)
dollar.rename(columns = lambda x : 'dollar_' + x if x != 'Date' else x, inplace = True)
gold.rename(columns = lambda x : 'gold_' + x if x != 'Date' else x, inplace = True)
kor_unem.rename(columns = lambda x : 'kor_unem_' + x if x != 'Date' else x, inplace = True)
us_unem.rename(columns = lambda x : 'us_unem_' + x if x != 'Date' else x, inplace = True)
kor_interest.rename(columns = lambda x : 'kor_interest_' + x if x != 'Date' else x, inplace = True)
usd_krw.rename(columns = lambda x : 'usd_krw_' + x if x != 'Date' else x, inplace = True)
vix.rename(columns = lambda x : 'vix_' + x if x != 'Date' else x, inplace = True)

### Data Concat

In [55]:
main = pd.merge(kospi, kosdaq, how = 'left', left_on = 'Date', right_on = 'Date')

In [56]:
variables = [kospi, kosdaq, dow, sp500, russel2000, nasdaq, ftse, nikkie, ssec, szse, hsi, 
             chi_bond_yield_1, chi_bond_yield_3, chi_bond_yield_5, chi_bond_yield_10,
             jap_bond_yield_1, jap_bond_yield_3, jap_bond_yield_5, jap_bond_yield_10,
             kor_bond_yield_1, kor_bond_yield_3, kor_bond_yield_5, kor_bond_yield_10,
             us_bond_yield_1, us_bond_yield_3, us_bond_yield_5, us_bond_yield_10,
             chi_cpi_m, chi_cpi_y, jap_c_cpi_y, jap_cpi_y, kor_cpi_m, kor_cpi_y, 
             us_c_cpi_m, us_c_cpi_y, us_cpi_m, us_cpi_y, brent, dubai, wti, bitcoin,
             dollar, gold, kor_unem, us_unem, kor_interest, usd_krw, vix]

In [57]:
for i in variables:
    print(i)
    print('ðŸ§¨')

            Date kospi_Close kospi_Open kospi_High kospi_Low kospi_Volume  \
0     1990-01-03      908.59     908.59     908.59    908.59        6.74M
1     1990-01-04      928.82     928.82     928.82    928.82       18.09M
2     1990-01-05      915.11     915.11     915.11    915.11       22.18M
3     1990-01-06      912.86     912.86     912.86    912.86       12.52M
4     1990-01-08      919.46     919.46     919.46    919.46       17.58M
...          ...         ...        ...        ...       ...          ...
8612  2023-03-09    2,419.09   2,440.79   2,444.20  2,416.25      476.38M
8613  2023-03-10    2,394.59   2,389.82   2,400.87  2,383.19      413.41M
8614  2023-03-13    2,410.60   2,400.45   2,413.24  2,369.79      380.74M
8615  2023-03-14    2,348.97   2,390.36   2,390.78  2,348.19      485.08M
8616  2023-03-15    2,379.72   2,380.09   2,395.36  2,370.77      443.75M

     kospi_Change  kospi_Value
0          -0.12%            0
1           2.23%            1
2          -1.48%            0
3          -0.25%            0
4           0.72%            1
...           ...          ...
8612       -0.53%            0
8613       -1.01%            0
8614        0.67%            1
8615       -2.56%            0
8616        1.31%            1

[8617 rows x 8 columns]
ðŸ§¨
            Date kosdaq_Close kosdaq_Open kosdaq_High kosdaq_Low  \
0     2001-01-02          557       502.5       559.6      502.5
1     2001-01-03          569       545.8       579.9      539.3
2     2001-01-04        615.1       617.7       621.5        609
3     2001-01-05        625.2       614.5       630.7      602.5
4     2001-01-08          650       614.9         657        614
...          ...          ...         ...         ...        ...
5484  2023-03-09       809.22      817.03      817.12      801.1
5485  2023-03-10        788.6      796.57      798.96     785.66
5486  2023-03-13       788.89      784.02      789.18     771.03
5487  2023-03-14       758.05      788.44      789.22     758.05
5488  2023-03-15       781.17      774.53      784.59     773.65

     kosdaq_Volume kosdaq_Change
0          201.21K         5.93%
1          284.99K         2.15%
2          233.13K         8.10%
3          367.23K         1.64%
4          358.62K         3.97%
...            ...           ...
5484         1.37B        -0.58%
5485         1.20B        -2.55%
5486         1.18B         0.04%
5487         1.14B        -3.91%
5488         1.03B         3.05%

[5489 rows x 7 columns]
ðŸ§¨
            Date  dow_Close   dow_Open   dow_High    dow_Low dow_Volume  \
0     1990-01-02   2,810.15   2,753.41   2,810.15   2,740.40     20.68M
1     1990-01-03   2,809.73   2,808.23   2,822.95   2,799.06     23.62M
2     1990-01-04   2,796.08   2,809.73   2,815.49   2,772.61     24.37M
3     1990-01-05   2,773.25   2,796.07   2,802.05   2,769.62     20.29M
4     1990-01-08   2,794.37   2,773.25   2,798.42   2,762.16     16.61M
...          ...        ...        ...        ...        ...        ...
8360  2023-03-09  32,256.05  32,876.83  32,988.24  32,193.33    307.46M
8361  2023-03-10  31,909.96  32,185.14  32,421.89  31,784.37    388.47M
8362  2023-03-13  31,819.05  31,624.87  32,240.35  31,624.87    417.28M
8363  2023-03-14  32,153.89  32,151.20  32,306.59  31,806.45    373.09M
8364  2023-03-15  31,876.22  31,759.87  31,902.31  31,429.98    399.94M

     dow_Change
0         2.07%
1        -0.01%
2        -0.49%
3        -0.82%
4         0.76%
...         ...
8360     -1.65%
8361     -1.07%
8362     -0.28%
8363      1.05%
8364     -0.86%

[8365 rows x 7 columns]
ðŸ§¨
            Date sp500_Close sp500_Open sp500_High sp500_Low  sp500_Volume  \
0     1990-01-02       359.7      353.4      359.7       352           NaN
1     1990-01-03       358.8      359.7      360.6     357.9           NaN
2     1990-01-04       355.7      358.8      358.8     352.9           NaN
3     1990-01-05       352.2      355.7      355.7     351.4           NaN
4     1990-01-08       353.8      352.2      354.2     350.5           NaN
...          ...         ...        ...        ...       ...           ...
8360  2023-03-09    3,918.32   3,998.66   4,017.81  3,908.70           NaN
8361  2023-03-10    3,861.59   3,912.77   3,934.05  3,846.32           NaN
8362  2023-03-13    3,855.76   3,835.12   3,905.05  3,808.86           NaN
8363  2023-03-14    3,920.56   3,894.01   3,937.29  3,873.63           NaN
8364  2023-03-15    3,891.93   3,876.74   3,894.26  3,838.24           NaN

     sp500_Change
0           1.78%
1          -0.25%
2          -0.86%
3          -0.98%
4           0.45%
...           ...
8360       -1.85%
8361       -1.45%
8362       -0.15%
8363        1.68%
8364       -0.73%

[8365 rows x 7 columns]
ðŸ§¨
            Date russel2000_Close russel2000_Open russel2000_High  \
0     2001-01-03           484.39          462.49          484.39
1     2001-01-04            477.2          484.39          484.39
2     2001-01-05           463.14           477.2          477.31
3     2001-01-08           461.64          463.14          463.14
4     2001-01-09           463.95          461.64           466.4
...          ...              ...             ...             ...
5593  2023-03-09         1,826.59        1,879.22        1,883.02
5594  2023-03-10         1,772.70        1,821.68        1,821.68
5595  2023-03-13         1,744.30        1,755.04        1,773.53
5596  2023-03-14         1,776.89        1,770.65        1,802.12
5597  2023-03-15         1,745.94        1,763.72        1,763.72

     russel2000_Low  russel2000_Volume russel2000_Change
0            459.28                NaN             4.74%
1             475.9                NaN            -1.48%
2            461.76                NaN            -2.95%
3            457.56                NaN            -0.32%
4            461.39                NaN             0.50%
...             ...                ...               ...
5593       1,826.29                NaN            -2.81%
5594       1,756.82                NaN            -2.95%
5595       1,722.85                NaN            -1.60%
5596       1,760.08                NaN             1.87%
5597       1,716.67                NaN            -1.74%

[5598 rows x 7 columns]
ðŸ§¨
            Date nasdaq_Close nasdaq_Open nasdaq_High nasdaq_Low  \
0     1990-01-02       459.33      459.33      459.34     453.84
1     1990-01-03        460.9       460.9      461.72     459.31
2     1990-01-04       459.39      459.39      461.02      456.9
3     1990-01-05       458.22      458.22      459.47     457.72
4     1990-01-08       458.71      458.71      458.75     456.49
...          ...          ...         ...         ...        ...
8360  2023-03-09    11,338.36   11,578.31   11,667.12  11,319.98
8361  2023-03-10    11,138.89   11,325.36   11,373.81  11,093.86
8362  2023-03-13    11,188.84   11,041.46   11,326.73  10,982.80
8363  2023-03-14    11,428.15   11,357.74   11,467.01  11,284.93
8364  2023-03-15    11,434.05   11,291.17   11,447.90  11,238.44

     nasdaq_Volume nasdaq_Change
0              NaN         0.99%
1              NaN         0.34%
2              NaN        -0.33%
3              NaN        -0.25%
4              NaN         0.11%
...            ...           ...
8360       994.86M        -2.05%
8361         1.23B        -1.76%
8362         1.31B         0.45%
8363         1.18B         2.14%
8364         1.22B         0.05%

[8365 rows x 7 columns]
ðŸ§¨
            Date ftse_Close ftse_Open ftse_High  ftse_Low  ftse_Volume  \
0     2004-03-05   5,562.52  5,610.37  5,616.17  5,555.68          NaN
1     2004-03-08   5,493.60  5,554.40  5,583.66  5,488.67          NaN
2     2004-03-09   5,526.11  5,490.56  5,593.83  5,490.56          NaN
3     2004-03-10   5,666.52  5,534.34  5,666.52  5,534.34          NaN
4     2004-03-11   5,698.62  5,675.32  5,727.84  5,653.53          NaN
...          ...        ...       ...       ...       ...          ...
4670         NaN        NaN       NaN       NaN       NaN          NaN
4671         NaN        NaN       NaN       NaN       NaN          NaN
4672         NaN        NaN       NaN       NaN       NaN          NaN
4673         NaN        NaN       NaN       NaN       NaN          NaN
4674         NaN        NaN       NaN       NaN       NaN          NaN

     ftse_Change
0         -0.73%
1         -1.24%
2          0.59%
3          2.54%
4          0.57%
...          ...
4670         NaN
4671         NaN
4672         NaN
4673         NaN
4674         NaN

[4675 rows x 7 columns]
ðŸ§¨
            Date nikkie_Close nikkie_Open nikkie_High nikkie_Low  \
0     2001-01-05    13,867.61   13,763.22   13,947.06  13,725.46
1     2001-01-09    13,610.51   13,732.85   13,732.85  13,460.82
2     2001-01-10    13,432.65   13,593.16   13,593.16  13,349.15
3     2001-01-11    13,201.07   13,433.09   13,436.61  13,123.81
4     2001-01-12    13,347.74   13,246.20   13,451.95  13,246.20
...          ...          ...         ...         ...        ...
5465         NaN          NaN         NaN         NaN        NaN
5466         NaN          NaN         NaN         NaN        NaN
5467         NaN          NaN         NaN         NaN        NaN
5468         NaN          NaN         NaN         NaN        NaN
5469         NaN          NaN         NaN         NaN        NaN

     nikkie_Volume nikkie_Change
0              NaN         1.29%
1              NaN        -1.85%
2              NaN        -1.31%
3              NaN        -1.72%
4              NaN         1.11%
...            ...           ...
5465           NaN           NaN
5466           NaN           NaN
5467           NaN           NaN
5468           NaN           NaN
5469           NaN           NaN

[5470 rows x 7 columns]
ðŸ§¨
            Date ssec_Close ssec_Open ssec_High ssec_Low ssec_Volume  \
0     1990-12-20     104.39     104.3    104.39    99.98         NaN
1     1990-12-21     109.13    109.07    109.13   103.73         NaN
2     1990-12-24     114.55    113.57    114.55   109.13         NaN
3     1990-12-25     120.25    120.09    120.25   114.55         NaN
4     1990-12-26     125.27    125.27    125.27   120.25         NaN
...          ...        ...       ...       ...      ...         ...
7890         NaN        NaN       NaN       NaN      NaN         NaN
7891         NaN        NaN       NaN       NaN      NaN         NaN
7892         NaN        NaN       NaN       NaN      NaN         NaN
7893         NaN        NaN       NaN       NaN      NaN         NaN
7894         NaN        NaN       NaN       NaN      NaN         NaN

     ssec_Change
0          4.41%
1          4.54%
2          4.97%
3          4.98%
4          4.17%
...          ...
7890         NaN
7891         NaN
7892         NaN
7893         NaN
7894         NaN

[7895 rows x 7 columns]
ðŸ§¨
            Date szse_Close  szse_Open  szse_High   szse_Low szse_Volume  \
0     1995-01-24   1,151.58   1,143.02   1,153.15   1,140.18         NaN
1     1995-01-25   1,166.01   1,150.94   1,166.20   1,148.37         NaN
2     1995-01-26   1,156.66   1,163.53   1,183.55   1,151.68         NaN
3     1995-01-27   1,164.77   1,157.21   1,170.37   1,154.22         NaN
4     1995-02-13   1,158.29   1,149.69   1,164.64   1,138.43         NaN
...          ...        ...        ...        ...        ...         ...
6822  2023-03-09  11,579.99  11,605.94  11,637.03  11,525.23       9.12B
6823  2023-03-10  11,442.54  11,513.66  11,535.54  11,437.99      10.66B
6824  2023-03-13  11,505.02  11,405.14  11,511.12  11,396.61      11.82B
6825  2023-03-14  11,416.57  11,483.64  11,486.56  11,282.58     129.57K
6826  2023-03-15  11,413.43  11,485.95  11,537.72  11,408.19      11.18B

     szse_Change
0          0.72%
1          1.25%
2         -0.80%
3          0.70%
4         -0.56%
...          ...
6822      -0.16%
6823      -1.19%
6824       0.55%
6825      -0.77%
6826      -0.03%

[6827 rows x 7 columns]
ðŸ§¨
            Date  hsi_Close   hsi_Open   hsi_High    hsi_Low hsi_Volume  \
0     2000-12-05  14,573.21  14,602.25  14,701.98  14,507.50        NaN
1     2000-12-06  15,098.95  14,914.54  15,178.27  14,914.54        NaN
2     2000-12-07  15,011.52  14,982.92  15,032.27  14,839.38        NaN
3     2000-12-08  15,189.33  15,008.80  15,281.81  14,968.64        NaN
4     2000-12-11  15,408.54  15,274.07  15,438.89  15,193.49        NaN
...          ...        ...        ...        ...        ...        ...
5526         NaN        NaN        NaN        NaN        NaN        NaN
5527         NaN        NaN        NaN        NaN        NaN        NaN
5528         NaN        NaN        NaN        NaN        NaN        NaN
5529         NaN        NaN        NaN        NaN        NaN        NaN
5530         NaN        NaN        NaN        NaN        NaN        NaN

     hsi_Change
0         0.10%
1         3.61%
2        -0.58%
3         1.18%
4         1.44%
...         ...
5526        NaN
5527        NaN
5528        NaN
5529        NaN
5530        NaN

[5531 rows x 7 columns]
ðŸ§¨
            Date  chi_bond_yield_1_Close chi_bond_yield_1_Change
0     2002-06-04                   2.194                   3.44%
1     2002-06-05                   2.198                   0.18%
2     2002-06-06                   1.921                 -12.60%
3     2002-06-07                   1.913                  -0.42%
4     2002-06-10                   1.955                   2.20%
...          ...                     ...                     ...
5206  2023-03-09                   2.250                  -0.18%
5207  2023-03-10                   2.235                  -0.67%
5208  2023-03-13                   2.234                  -0.04%
5209  2023-03-14                   2.244                   0.45%
5210  2023-03-15                   2.255                   0.49%

[5211 rows x 3 columns]
ðŸ§¨
            Date  chi_bond_yield_3_Close chi_bond_yield_3_Change
0     2000-09-22                   1.738                   5.40%
1     2000-09-25                   1.665                  -4.20%
2     2000-09-26                   1.807                   8.53%
3     2000-09-27                   1.714                  -5.15%
4     2000-09-29                   1.714                   0.00%
...          ...                     ...                     ...
4565  2023-03-09                   2.538                  -0.20%
4566  2023-03-10                   2.535                  -0.12%
4567  2023-03-13                   2.543                   0.32%
4568  2023-03-14                   2.549                   0.24%
4569  2023-03-15                   2.530                  -0.75%

[4570 rows x 3 columns]
ðŸ§¨
     chi_bond_yield_5_Date\tClose\tChange
0                2001-03-14\t3.148\t0.06%
1                 2001-03-15\t3.15\t0.06%
2                2001-03-19\t3.158\t0.25%
3                2001-03-20\t3.161\t0.09%
4                2001-03-22\t3.165\t0.13%
...                                   ...
4548            2023-03-09\t2.705\t-0.15%
4549            2023-03-10\t2.695\t-0.37%
4550             2023-03-13\t2.702\t0.26%
4551             2023-03-14\t2.702\t0.00%
4552            2023-03-15\t2.698\t-0.15%

[4553 rows x 1 columns]
ðŸ§¨
            Date  chi_bond_yield_10_Close chi_bond_yield_10_Change
0     2002-06-06                    2.414                  -16.35%
1     2002-06-07                    2.418                    0.17%
2     2002-06-10                    2.435                    0.70%
3     2002-06-11                    2.432                   -0.12%
4     2002-06-12                    2.430                   -0.08%
...          ...                      ...                      ...
5318         NaN                      NaN                      NaN
5319         NaN                      NaN                      NaN
5320         NaN                      NaN                      NaN
5321         NaN                      NaN                      NaN
5322         NaN                      NaN                      NaN

[5323 rows x 3 columns]
ðŸ§¨
            Date  jap_bond_yield_1_Close jap_bond_yield_1_Change
0     2006-07-19                   0.615                   0.82%
1     2006-07-20                   0.610                  -0.81%
2     2006-07-21                   0.610                   0.00%
3     2006-07-24                   0.620                   1.64%
4     2006-07-25                   0.625                   0.81%
...          ...                     ...                     ...
4572  2023-03-10                  -0.086                   6.17%
4573  2023-03-12                  -0.080                  -6.98%
4574  2023-03-13                  -0.098                  22.50%
4575  2023-03-14                  -0.100                   2.04%
4576  2023-03-15                  -0.126                  26.50%

[4577 rows x 3 columns]
ðŸ§¨
            Date  jap_bond_yield_3_Close jap_bond_yield_3_Change
0     2006-07-19                   1.010                   3.06%
1     2006-07-20                   0.995                  -1.49%
2     2006-07-21                   0.995                   0.00%
3     2006-07-24                   1.025                   3.02%
4     2006-07-25                   1.049                   2.34%
...          ...                     ...                     ...
4563  2023-03-10                  -0.014                -200.00%
4564  2023-03-12                   0.008                -157.14%
4565  2023-03-13                  -0.004                -150.00%
4566  2023-03-14                  -0.039                 875.00%
4567  2023-03-15                  -0.021                 -46.15%

[4568 rows x 3 columns]
ðŸ§¨
            Date  jap_bond_yield_5_Close jap_bond_yield_5_Change
0     2006-07-27                   1.403                   0.00%
1     2006-07-28                   1.437                   2.42%
2     2006-07-31                   1.437                   0.00%
3     2006-08-01                   1.442                   0.35%
4     2006-08-02                   1.408                  -2.36%
...          ...                     ...                     ...
4564  2023-03-10                   0.195                 -14.85%
4565  2023-03-12                   0.178                  -8.72%
4566  2023-03-13                   0.170                  -4.49%
4567  2023-03-14                   0.121                 -28.82%
4568  2023-03-15                   0.129                   6.61%

[4569 rows x 3 columns]
ðŸ§¨
            Date  jap_bond_yield_10_Close jap_bond_yield_10_Change
0     2006-02-07                    1.586                    1.21%
1     2006-02-08                    1.576                   -0.63%
2     2006-02-09                    1.567                   -0.57%
3     2006-02-10                    1.604                    2.36%
4     2006-02-13                    1.567                   -2.31%
...          ...                      ...                      ...
4599  2023-03-10                    0.392                  -21.76%
4600  2023-03-12                    0.370                   -5.74%
4601  2023-03-13                    0.311                  -15.83%
4602  2023-03-14                    0.276                  -11.25%
4603  2023-03-15                    0.323                   17.03%

[4604 rows x 3 columns]
ðŸ§¨
            Date  kor_bond_yield_1_Close kor_bond_yield_1_Change
0     1995-05-03                  14.550                   0.69%
1     1995-05-04                  14.550                   0.00%
2     1995-05-06                  14.500                  -0.34%
3     1995-05-08                  14.500                   0.00%
4     1995-05-09                  14.500                   0.00%
...          ...                     ...                     ...
7121  2023-03-11                   3.625                   0.00%
7122  2023-03-12                   3.625                   0.00%
7123  2023-03-13                   3.551                  -2.04%

In [28]:
for i in variables[1:]:
    pd.merge(variables[0], i, how = 'left', left_on = 'Date', right_on = 'Date')

KeyError: 'Date'

In [19]:
main

,Date,kospi_Close,kospi_Open,kospi_High,kospi_Low,kospi_Volume,kospi_Change,kospi_Value,kosdaq_Close,kosdaq_Open,kosdaq_High,kosdaq_Low,kosdaq_Volume,kosdaq_Change
0,1990-01-03,908.59,908.59,908.59,908.59,6.74M,-0.12%,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-01-04,928.82,928.82,928.82,928.82,18.09M,2.23%,1,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-01-05,915.11,915.11,915.11,915.11,22.18M,-1.48%,0,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-01-06,912.86,912.86,912.86,912.86,12.52M,-0.25%,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-01-08,919.46,919.46,919.46,919.46,17.58M,0.72%,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8612,2023-03-09,"2,419.09","2,440.79","2,444.20","2,416.25",476.38M,-0.53%,0,809.22,817.03,817.12,801.1,1.37B,-0.58%
8613,2023-03-10,"2,394.59","2,389.82","2,400.87","2,383.19",413.41M,-1.01%,0,788.6,796.57,798.96,785.66,1.20B,-2.55%
8614,2023-03-13,"2,410.60","2,400.45","2,413.24","2,369.79",380.74M,0.67%,1,788.89,784.02,789.18,771.03,1.18B,0.04%
8615,2023-03-14,"2,348.97","2,390.36","2,390.78","2,348.19",485.08M,-2.56%,0,758.05,788.44,789.22,758.05,1.14B,-3.91%
8616,2023-03-15,"2,379.72","2,380.09","2,395.36","2,370.77",443.75M,1.31%,1,781.17,774.53,784.59,773.65,1.03B,3.05%

In [17]:
kospi

,Date,kospi_Close,kospi_Open,kospi_High,kospi_Low,kospi_Volume,kospi_Change,kospi_Value
0,1990-01-03,908.59,908.59,908.59,908.59,6.74M,-0.12%,0
1,1990-01-04,928.82,928.82,928.82,928.82,18.09M,2.23%,1
2,1990-01-05,915.11,915.11,915.11,915.11,22.18M,-1.48%,0
3,1990-01-06,912.86,912.86,912.86,912.86,12.52M,-0.25%,0
4,1990-01-08,919.46,919.46,919.46,919.46,17.58M,0.72%,1
...,...,...,...,...,...,...,...,...
8612,2023-03-09,"2,419.09","2,440.79","2,444.20","2,416.25",476.38M,-0.53%,0
8613,2023-03-10,"2,394.59","2,389.82","2,400.87","2,383.19",413.41M,-1.01%,0
8614,2023-03-13,"2,410.60","2,400.45","2,413.24","2,369.79",380.74M,0.67%,1
8615,2023-03-14,"2,348.97","2,390.36","2,390.78","2,348.19",485.08M,-2.56%,0
8616,2023-03-15,"2,379.72","2,380.09","2,395.36","2,370.77",443.75M,1.31%,1

In [11]:
us_bond_yield_10.tail(30)

            Date  us_bond_yield_10_Price us_bond_yield_10_Change
8494  2023-02-15                   3.726                   1.33%
8495  2023-02-16                   3.769                   1.58%
8496  2023-02-17                   3.813                  -1.19%
8497  2023-02-20                   3.849                   0.91%
8498  2023-02-21                   3.840                   2.68%
8499  2023-02-22                   3.890                  -0.69%
8500  2023-02-23                   3.863                  -0.94%
8501  2023-02-24                   3.854                   1.46%
8502  2023-02-27                   3.897                  -0.64%
8503  2023-02-28                   3.899                   0.15%
8504  2023-03-01                   3.914                   1.70%
8505  2023-03-02                   3.990                   1.68%
8506  2023-03-03                   3.954                  -2.56%
8507  2023-03-06                   3.897                   0.15%
8508  2023-03-07                   3.919                   0.15%
8509  2023-03-08                   3.899                   0.50%
8510  2023-03-09                   3.894                  -2.06%
8511  2023-03-10                   3.674                  -5.19%
8512  2023-03-13                   3.418                  -4.31%
8513  2023-03-14                   3.464                   3.96%
8514  2023-03-15                   3.388                  -6.05%
8515         NaN                     NaN                     NaN
8516         NaN                     NaN                     NaN
8517         NaN                     NaN                     NaN
8518         NaN                     NaN                     NaN
8519         NaN                     NaN                     NaN
8520         NaN                     NaN                     NaN
8521         NaN                     NaN                     NaN
8522         NaN                     NaN                     NaN
8523         NaN                     NaN                     NaN

## Modeling

In [ ]:
model = DecisionTreeClassifier(random_state = 42)

In [ ]:
model.fit(x_train, y_train)